/*********************************************************************
D6 design

*********************************************************************/

/*--layout----------------------------------------------------------*/
body {
  font-size: 100%;
  margin: 0px;
  line-height: 1.7em;
}

p {
  line-height: 1.2em;
  margin: 8px;
}

.info p {
  line-height: 16px;
}

/* ============= left right ===================== */
div.leftmenu {
  display: block;
  width: 30%;
  min-width: 280px;
  vertical-align: top;
}

div.result {
  display: block;
  vertical-align: top;
  background: #efe;
}

div.mesmenu {
  display: block;
  width: 38%;
  min-width: 330px;
  vertical-align: top;
  background: #efe;
}

div.page {
  margin: 10px;
}

div.widthhalf {
  width: 700px;
  max-width: 100%;
}

/*--common----------------------------------------------------------*/
h1 {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 120%;
  background-color: #ffc;
}

h2 {
  border-bottom: 3px solid #007700;
  background-color: #9f9;
  padding: 2px 4px 4px 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 3px;
  width: 98%;
  background-color: #ecffec;
  border-left: 6px solid #afa;
}

.submenucontents h3 {
  display: none;
}

.center {
  text-align: center;
}

h2 {
  background-color: rgba(255, 255, 255, 0.7);
}

select {
  font-size: 110%;
}

/*** button *******/

button {
  padding: 6px;
  margin: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  background: #cbf8ff;
  white-space: nowrap;
  box-shadow: 2px 2px 2px #555;
  line-height: 27pt;
  top: -10px;
}

button:hover {
  color: #fafafa;
  background: #009800 !important;
}

.large {
  display: inline-block;
  text-align: center;
  font-size: 120%;
  vertical-align: middle;
  width: 50%;
  line-height: 1.5em;
}

a:hover {
  color: #5a9aba;
}

#tab,
ul.submenu {
  overflow: hidden;
  display: none;
}

#tabcontents li {
  padding: 0px;
}

.hide {
  display: none;
}

/*=========== input area　=========== */

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
li {
  margin-top: 0px;
  margin-bottom: 0px;
}

#about ul {
  padding: 30px;
}

input,
select {
  width: 200px;
}

input[type="checkbox"] {
  width: 20px;
}

table.demandtable input,
table.demandtable select {
  width: 65px;
}

table.demandtable td {
  white-space: nowrap;
}

tr.messelected {
  background-color: clear;
}

/* =========== dialog ============ */

#leanModalDialog {
  width: 80%;
  height: 80%;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.modal_close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  z-index: 2;
}

div#modal-contents img {
  padding: 5px;
}

.modal-window {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  line-height: 1.3;
  display: none\9;
}
.modal-window:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.is-active.modal-window {
  display: block\9;
}
.modal-window:target {
  display: block\9;
}
.modal-window .modal-inner {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.modal-window .modal-inner p {
  padding: 0 20px;
}
.modal-window .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}
.modal-window .modal-close:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}

.modal-window .modal-close:after {
  content: "\00d7";
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 20;
  margin-left: 285px;
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}
.modal-window {
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

#p4 h3 {
  display: none;
}

/* footer step */

#step {
  line-height: 2em;
  background-color: #ffc;
}

#step button {
  cursor: pointer;
  padding: 3px;
  margin: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  font-weight: 500;
  background-color: #ff8;
  line-height: 1.3em;
  box-shadow: none;
}

#header span:hover {
  color: #fafafa;
  background: #009800 !important;
}

#step button.already {
  color: #fafafa;
  background: #009800 !important;
}

/* =========== smart phone ============ */
@media only screen and (max-width: 640px) {
  div.widthhalf {
    width: 95%;
    min-width: initial;
  }

  div.page {
    width: 95%;
  }

  button,
  .button {
    width: 90%;
  }

  #step button {
    width: 15%;
    padding-left: 3px;
    padding-right: 3px;
  }

  #leanModalDialog {
    position: relative !important;
    top: 20px !important;
    width: 100%;
    height: initial;
  }

  h1 {
    font-size: 120%;
  }
  h2 {
    font-size: 130%;
  }
  table {
    font-size: 90%;
  }
  #tabcontents li {
    padding: 3px;
  }
  #tabcontents li.nodata {
    padding: 0px;
  }

  #step span {
    padding-left: 5px;
    padding-right: 5px;
  }

  input,
  select {
    width: 130px;
  }
}
